<!--   
 Para reutilizar este componente se debera importar a travez del siguiente script 
    <script src="/components/navbar/navbar.js" defer></script> -> esto va en el head de la pagina que lo quiera usar
    adicionalmente se debe agregar el siguiente div en el body de la pagina que lo quiera usar
    <div id="navbar-container"></div> -> esto va en el body de la pagina que lo quiera usar
 -->
<header>
     <img src="imagenes/logo2.png" height="85%" alt="no se ve">
</header>
<nav>
     <ul>
          <li><a href="index.html"> Inicio </a></li>
          <li><a href="chat.html"> Chat </a></li>
          <li><a href="Tutor.html"> Tutor LPP </a></li>
          <li><a href="Flotantes.html"> Flotantes </a></li>
          <li><a href="Consulta.html"> Consulta </a></li>
          <li><a href="Transiciones.html"> Transiciones </a></li>
          <li><a href="Columnas.html"> Columnas </a></li>
          <li><a href="audio.html"> Audio </a></li>
          <li><a href="degradados.html"> Degradados </a></li>
          <li><a href="Animaciones.html"> Animaciones </a></li>
          <li><a href="SVG.html"> SVG </a></li>
          <li><a href="móviles.html"> Móviles </a></li>
          <li><a href="editable.html"> Contenido editable </a></li>
     </ul>
</nav>
